NET "SW" LOC = L15;
NET "LED[0]" LOC = H15;
NET "LED[1]" LOC = J15;
NET "CLK" LOC = N8;
NET "HSO" LOC = A7;
NET "VSO" LOC = A12;
NET "RO" LOC = A13;
NET "GO" LOC = B7;
NET "BO" LOC = C12;
NET "TST[3]" LOC = K3;
NET "TST[2]" LOC = K1;
NET "TST[1]" LOC = N2;
NET "TST[0]" LOC = N1;
NET "FT_DT[7]" LOC = C2;
NET "FT_DT[6]" LOC = C1;
NET "FT_DT[5]" LOC = D3;
NET "FT_DT[4]" LOC = D1;
NET "FT_DT[3]" LOC = D4;
NET "FT_DT[2]" LOC = E3;
NET "FT_DT[1]" LOC = J2;
NET "FT_DT[0]" LOC = J1;
NET "FT_RXF_x" LOC = A4;
NET "FT_TXE_x" LOC = C4;
NET "FT_WR_x" LOC = B5;
NET "FT_SIWU_x" LOC = C10;
NET "FT_CLK" LOC = E7;
NET "xGI" LOC = H1;
NET "xBI" LOC = H3;
NET "xRI" LOC = G1;
NET "xVSI" LOC = G2;
NET "xHSI" LOC = E1;
NET "FT_RD_x" LOC = A5;
NET "FT_OE_x" LOC = A10;
NET "KBDT" LOC = F1;
NET "REQ" LOC = E2;
NET "MSDT" LOC = F3;


NET "SW" IOSTANDARD = LVCMOS33;
NET "RO" IOSTANDARD = LVCMOS33;
NET "HSO" IOSTANDARD = LVCMOS33;
NET "GO" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "BO" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "VSO" IOSTANDARD = LVCMOS33;
NET "TST[0]" IOSTANDARD = LVCMOS33;
NET "TST[1]" IOSTANDARD = LVCMOS33;
NET "TST[2]" IOSTANDARD = LVCMOS33;
NET "TST[3]" IOSTANDARD = LVCMOS33;
NET "FT_DT[0]" IOSTANDARD = LVCMOS33;
NET "FT_DT[1]" IOSTANDARD = LVCMOS33;
NET "FT_DT[2]" IOSTANDARD = LVCMOS33;
NET "FT_DT[3]" IOSTANDARD = LVCMOS33;
NET "FT_DT[4]" IOSTANDARD = LVCMOS33;
NET "FT_DT[5]" IOSTANDARD = LVCMOS33;
NET "FT_DT[6]" IOSTANDARD = LVCMOS33;
NET "FT_DT[7]" IOSTANDARD = LVCMOS33;
NET "FT_CLK" IOSTANDARD = LVCMOS33;
NET "FT_RXF_x" IOSTANDARD = LVCMOS33;
NET "FT_SIWU_x" IOSTANDARD = LVCMOS33;
NET "FT_TXE_x" IOSTANDARD = LVCMOS33;
NET "FT_WR_x" IOSTANDARD = LVCMOS33;
NET "xBI" IOSTANDARD = LVCMOS33;
NET "FT_RD_x" IOSTANDARD = LVCMOS33;
NET "xGI" IOSTANDARD = LVCMOS33;
NET "xHSI" IOSTANDARD = LVCMOS33;
NET "xRI" IOSTANDARD = LVCMOS33;
NET "xVSI" IOSTANDARD = LVCMOS33;
NET "FT_OE_x" IOSTANDARD = LVCMOS33;
NET "KBDT" IOSTANDARD = LVCMOS33;
NET "REQ" IOSTANDARD = LVCMOS33;
NET "MSDT" IOSTANDARD = LVCMOS33;

NET "FT_DT[0]" PULLUP;
NET "FT_DT[1]" PULLUP;
NET "FT_DT[2]" PULLUP;
NET "FT_DT[3]" PULLUP;
NET "FT_DT[4]" PULLUP;
NET "FT_DT[5]" PULLUP;
NET "FT_DT[6]" PULLUP;
NET "FT_DT[7]" PULLUP;
NET "FT_CLK" PULLUP;
NET "FT_RXF_x" PULLUP;
NET "FT_TXE_x" PULLUP;
#Created by Constraints Editor (xc6slx16-csg225-2) - 2014/04/07
NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 50 MHz HIGH 50%;
NET "FT_CLK" TNM_NET = FT_CLK;
TIMESPEC TS_FT_CLK = PERIOD "FT_CLK" 60 MHz HIGH 50%;
#Created by Constraints Editor (xc6slx16-csg225-2) - 2014/04/07
INST "FT_DT<0>" TNM = FT_DT;
INST "FT_DT<1>" TNM = FT_DT;
INST "FT_DT<2>" TNM = FT_DT;
INST "FT_DT<3>" TNM = FT_DT;
INST "FT_DT<4>" TNM = FT_DT;
INST "FT_DT<5>" TNM = FT_DT;
INST "FT_DT<6>" TNM = FT_DT;
INST "FT_DT<7>" TNM = FT_DT;
TIMEGRP "FT_DT" OFFSET = IN 9 ns VALID 16.6667 ns BEFORE "FT_CLK" RISING;
NET "FT_RXF_x" OFFSET = IN 9 ns VALID 16.6667 ns BEFORE "FT_CLK" RISING;
NET "FT_TXE_x" OFFSET = IN 9 ns VALID 16.6667 ns BEFORE "FT_CLK" RISING;
